.article {
  min-height: 340px;
}
.article__title, .article__text {
  position: relative;
  top: 72px;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: .9px;
}
.article__text {
  font-size: 1.25em;
  font-weight: 400;
  top: 92px;
  letter-spacing: .4px;
  line-height: 1.6;
}
