.banner {
  width: 100%;
  background: url(../img/Image.jpg) no-repeat;
  background-size: cover;
}
.banner__content {
  width: 1170px;
  height: 800px;
}
.banner__text, .banner__title, .banner__btn, .banner__btn-down {
  display: block;
  position: relative;
  top: 192px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 400;
  width: 600px;
  text-align: center;
  letter-spacing: .39px;
}
.banner__title {
  padding: 0 0 15px 0;
  top: 192px;
  border-bottom: 2px solid #15a4fa;
  font-size: 7.28em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 35px;
  letter-spacing: 4px;
}
.banner__btn {
  top: 255px;
  font-size: 1.125em;
  border-radius: 2px;
  border: 1px solid #15a4fa;
  background-color: rgba(21, 164, 250, 0);
  width: 178px;
  height: 56px;
}
.banner__btn-down {
  top: 431px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1em;
  font-weight: 400;
}

@media screen and (max-width: 1170px) {
  .banner {
    max-height: 800px;
    background-size: 100%, 100%;
  }
  .banner__h1 {
    font-size: 5em;
  }
}
