@import url(header.css);
@import url(banner.css);
@import url(article.css);
@import url(feature.css);
@import url(portfolip.css);
@import url(form.css);
@import url(footer.css);
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f9f9;
}
.wrap__inner, .content {
  margin: 0 auto;
  width: 100%;
  min-height: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.wrap__footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.btn {
  cursor: pointer;
}

.title {
  color: #2d3950;
}

.text {
  color: #999;
}

.content {
  max-width: 1170px;
}
