.banner {
    width: 100%;
    background: url(../img/Image.jpg) no-repeat;
    background-size: cover;
    &__content {
        width: 1170px;
        height: 800px;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    &__text {
        display: block;
        margin: 35px auto 0;
        color: #ffffff;
        font-size: 1.25em;
        font-weight: 400;
        width: 600px;
        text-align: center;
        letter-spacing: .39px;
    }
    &__title {
        @extend .banner__text;
        margin-top: 192px;
        padding: 0 0 15px 0;
        border-bottom: 2px solid #15a4fa;
        font-size: 7.28em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 4px;
    }
    &__btn {
        @extend .banner__text;
        margin-top: 62px;
        font-size: 1.125em;
        border-radius: 2px;
        border: 1px solid #15a4fa;
        background-color: rgba(21, 164, 250, 0);
        width: 178px;
        height: 56px;
    }
    &__btn-down {
        @extend .banner__text;
        position: relative;
        bottom: -142px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.1em;
        font-weight: 400;
    }
}

