.form {
    min-height: 700px;
    width: 100%;
    background: url(../img/Form.jpg) no-repeat;
    background-size: cover;
    display: flex;
    &__bg {
        background-color:  rgba(45, 57, 80, 0.9);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__text {
        color:  #999999;
        font-size: 0.938em;
        font-weight: 400;
        line-height: 1.533;
        text-align: center;
        margin: 0 auto;
    }
    &__title {
        @extend .form__text;
        color:  #ffffff;
        font-size: 2.563em;
        text-align: center;
        position: relative;
        top: -14px;
    }
    &__inputs {
        margin: 26px auto;
        width: 555px;
    }
    &__name {
        display: block;
        font-family: 'Lato', sans-serif;
        color: #fff;
        border-radius: 2px;
        border: 1px solid #999;
        background-color: rgba(246, 249, 249, 0);
        width: 100%;
        height: 62px;
        margin: 23px 0;
        padding: 0 0 0 14px;
    }
    &__email {
        @extend .form__name;
    }
    &__message {
        @extend .form__name;
        height: 162px;
        resize: none;
        padding-top: 26px;
        padding-bottom: 26px;
    }
    &__check-btn {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__checkbox-block {
        padding: 15px 0;
    }
    &__checkbox {
        display: inline-block;
        border-radius: 2px;
        border: 1px solid #9aa1ab;
        background-color: rgba(246, 249, 249, 0.54);
        width: 18px;
        height: 18px;
        margin: 1px 10px 0 0;
    }
    &__check-text {
        display: inline-block;
        position: relative;
        top: -3px;
        color:  #fff;
        font-size: 0.938em;
        font-weight: 400;
    }
    &__submit {
        font-family: 'Lato', sans-serif;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid #15a4fa;
        background-color: rgba(21, 164, 250, 0);
        width: 142px;
        height: 47px;
        &:hover {
            background: #15a4fa;
        }
    }
}