.header {
    height: 99px;
    &__logo {
        position: relative;
        top: 32px;
        left: 37px;
    }
    &__text {
        @extend .header__logo;
        top: 25px;
        left: 50px;
        text-transform: uppercase;
        font-family: "Lato";
        color:  #2d3950;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
    }  
}