@import url(header.css);
@import url(banner.css);
@import url(footer.css);
html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #f6f9f9;
    &__inner {
        margin: 0 auto;
        width: 1600px;
        min-height: 100px;
        flex: 1 0 auto;
    }
    &__footer {
        flex: 0 0 auto;
    }
}

.btn {
    cursor: pointer;
}

.content {
    @extend .wrap__inner;
    max-width: 1170px;
}

@media screen and (max-width: 1600px)  {
    .wrap__inner {
        width: 100%;
    }
}