@import url(header.css);
@import url(banner.css);
@import url(article.css);
@import url(feature.css);
@import url(portfolip.css);
@import url(form.css);
@import url(footer.css);
html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.wrap {
    display: flex;
    flex-direction: column;
    background: #f6f9f9;
    &__inner {
        margin: 0 auto;
        width: 100%;
        flex: 1 0 auto;
    }
    &__footer {
        flex: 0 0 auto;
    }
}

.btn {
    cursor: pointer;
}

.title {
    color: #2d3950;
}

.text {
    color: #999;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.box-width {
    margin: 0 auto;
    width: 1170px;
}

@media screen and (max-width:1680px) {
    .portfolio {
        width: 1170px;
    }
}

@media screen and (max-width:1190px) {
    .banner{
        &__content {
            height: 500px;
        }
        &__title {
            margin-top: 70px;
        }
        &__btn-down {
            bottom: 0;
        }
    }
    .box-width,
    .portfolio {
        width: 90%;
    }
}

@media screen and (max-width:960px) {
    .wrap {
        font-size: 14px;
    }
    .feature {
        &__text {
            padding: 0 10px;
        }
    }
}

@media screen and (max-width:690px) {
    .wrap {
        font-size: 12px;
    }
    .banner {
        &__text {
            width: 90%;
        }
        &__title {
            @extend .banner__text;
        }
        &__btn-down {
            @extend .banner__text;
        }
    }
    .form {
        &__inputs {
            width: 90%;
        }
    }
}
@media screen and (max-width:460px) {
    .wrap {
        font-size: 9px;
    }
    .feature {
        &__box {
            flex-wrap: wrap;
        }
        &__block {
            width: 90%;
            margin: 10px auto;
        }
        &__text {
            margin-top: 10px;
        }
    }
}