@import url(header.css);
@import url(banner.css);
@import url(article.css);
@import url(feature.css);
@import url(footer.css);
html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.wrap {
    display: flex;
    flex-direction: column;
    background: #f6f9f9;
    &__inner {
        margin: 0 auto;
        width: 100%;
        min-height: 100px;
        flex: 1 0 auto;
    }
    &__footer {
        flex: 0 0 auto;
    }
}

.btn {
    cursor: pointer;
}

.title {
    color: #2d3950;
}

.text {
    color: #999;
}

.content {
    @extend .wrap__inner;
    max-width: 1170px;
}
